body {
  background: #fafafa;
  color: #333333;
  margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px 2px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 40px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.account-heading {
  font-size: 2.5rem;
}

.single_comment{
  background: #ffffff;
  padding: 10px 20px 2px;
  border: 1px solid #dddddd;
  border-radius: 10px;
  margin-bottom: 40px;
}


.head_comment{
  display:flex;
  justify-content: space-between;
}


.left_comment_side{
  margin-left: 10px;
  font-size: 15px;
}


.right_comment_side{
  margin-right: 10px;
  font-size: 12px;

}


.body_comment{
  text-align:left;
  margin: 10px 40px;
  padding: 10px 40px;
}


.stat_comment{
  display:flex;
  justify-content: space-between;
}


.left_stat_side{
  margin-left:20px;
  font-size: 15px;

}

.right_stat_side{
  margin-right:40px;
  font-size: 15px;
}

.left_side_stat_post{
  margin-left:20px;
  font-size: 20px;
}
.right_side_stat_post{
  margin-left: 250px;
  font-size: 20px;
  cursor: pointer;
}
.online_status{
  height: 30px;
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.online_user{
  width: 13px;
  height: 13px;
  background-color: rgb(24, 156, 24);
  border-radius: 200px;
  text-align: right;
  box-shadow: 0px 0px 20px 3px green;
}
.current_user{
  text-align: right;
  color: blue;
  margin-left: 10px;
  align-self: center;
}
.current_user small{
  font-style: cursive;
  color: blue;
  font-size: 16px;
}