{% extends 'layout.html' %}

{% block content %}
        <article class="media content-section">
            <div class="media-body">
                {% for eachuser in userlist %}
                    <div class="row" style="margin-bottom: 1ex">
                        <div class="online_status">
                            <div class="online_user"></div>
                            <div class="current_user nav-item nav-link"><small>{{ eachuser.username }}</small></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </article>
{% endblock %}