{% extends "layout.html" %}
{% block content %}
  <article class="media content-section">
    <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
    <div class="media-body">
      <div class="article-metadata">
        <a class="mr-2" href="{{ url_for('user_posts', username=post.author.username) }}">{{ post.author.username }}</a>
        <small class="text-muted">{{ post.date_posted.strftime("%d.%m.%Y-%H.%M") }}</small>
        {% if post.author == current_user %}
          <div>
            <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_post', post_id=post.id) }}">Обновить</a>
            <button type="button" class="btn btn-danger btn-sm m-1" data-toggle="modal" data-target="#deleteModal">Удалить</button>
          </div>
        {% endif %}
      </div>
      <h2 class="article-title">{{ post.title }}</h2>
      <p class="article-content">{{ post.content }}</p>
      <div class="article-metadata">
        <img class="" src="{{ url_for('static', filename='post_pics/' + post.post_image) }}">
        <div class="post_stat_side">
          <div class="left_side_stat_post">&#128065; {{ post.views }}</div>
        </div>
    </div>
      
    </div>
    
      </form>
    

  </article>
  <!-- Modal -->
  <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deleteModalLabel">Удалить пост?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
          <form action="{{ url_for('delete_post', post_id=post.id) }}" method="POST">
            <input class="btn btn-danger" type="submit" value="Удалить">
          </form>
        </div>
      </div>
    </div>
    
        </div>


          
    {% if current_user.is_authenticated %}
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-as-keyboard="false" tabindex="-1"...></div>


      <div class="content_comment">
      <form method="POST" action="{{ url_for('post', post_id=post.id) }}">
          {{ commentform.hidden_tag() }}
        <fieldset class="form-group">
          <legend class="border-bottom mb-4">Добавьте свой комментарий</legend>
          <div class="form-group">
            {{ commentform.body.label(class="form-control-label") }}
                      <p></p>
            {% if commentform.body.errors %}
              {{ commentform.body(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in commentform.body.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ commentform.body(class="form-control form-control-lg") }}
            {% endif %}
          </div>
        </fieldset>
            <p></p>
      </div>
      
        <div class="form-group">

          {{ commentform.submit(class="btn btn-outline-info") }}
        </div>
      {% endif %}
        <div class="comment_side">
          {% for i in comment %}
<div class="single_comment">
  <div class="head_comment">

      <div class="left_comment_side">
        <a href="{{ url_for('.user_posts', username=i.username)}}">{{ i.username }}</a>
    

    </div>
    <div class="right_comment_side">{{ i.date_comment.strftime("%d.%m.%Y-%H.%M") }}</div>
  </div>

  <div class="body_comment">
    {{ i.body }}
  </div>
  {% if post.author == current_user or current_user.username == i.username %}
  <div>
    <a class="btn btn-secondary btn-sm mt-1 mb-1" href="{{ url_for('update_comment', comment_id=i.id) }}">Обновить</a>
    <a href="{{ url_for( 'delete_comment', comment_id=i.id) }}" class="btn btn-danger btn-sm m-1" >Удалить</a>
  </div>
{% endif %}


</div>
          {% endfor %}
</div>      
  </div>
{% endblock content %}
